/************************************* Start Global Style */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: iranL;
	direction: rtl;
}

body {
	font-family: iranL;
	direction: rtl;
}

@font-face {
	font-family: iranL;
	src: url(Fonts/IRANSansWeb_Light.ttf);
}

a {
	text-decoration: none;
	color: black;
}

ul,
li {
	list-style: none;
}

:root {
	--icon-color: #828282;
	--flag-background-color: #d8d8d8a9;
	--cmenu-bg: #eff0f1;
	--bg-zire-menu: #828282;
	--bg-main-menu: #c4c4c4;
	--wrapper-main-menu-li-border: #c4c4c4;
	--bg-btn-darkhast: #d1a040;
	--bg-btn: #d1a040;
	--color-toggel: #828282;
	--color-li-zirmenu: #080808;
	--li-wrapper-main-menu: #eff0f1;
	--main-menu-li: #757575;
	--bg-footer: #000000;
	--bdr-top-box-allpage: #e5e5e5;
	--bg-top-box-allpage: #ffffff;
	/* davat page color */
	--c828282: #828282;
	--cD1A041: #d1a041;
}

/************************************* END GLOBAL STYLE */
/************************************* START RESPONSIVE MENU */

/* start top menu responsive  */
.parent-responsive-menu {
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
}

.nav-flag {
	display: flex;
	flex-basis: 90px;
	border-radius: 5px;
}
.nav-flag-main-menu {
	width: 90px;
	border-radius: 5px;
}
.ul-flag {
	width: 100%;
}
.ul-flag-main-menu li {
	position: relative;
}
.wrapper-flag-main-menu {
	position: absolute;
	display: none;
	left: -12px;
	top: 26px;
	width: 91px;
	border-radius: 5px;
	background-color: var(--flag-background-color);
}

.ul-flag-main-menu li:hover .wrapper-flag-main-menu {
	display: block;
}
.ul-flag,
.ul-flag-main-menu {
	background-color: var(--flag-background-color);
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	cursor: pointer;
}
.ul-flag li img,
.ul-flag-main-menu li img {
	width: 30px;
	transform: translate(-5px, 3px);
}
.left-nav-responsive-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-basis: 40%;
}
.left-ul-responsive-menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
}
.left-ul-responsive-menu li i {
	color: var(--icon-color);
}
.left-ul-responsive-menu button {
	width: 30px;
	outline: none;
	border-radius: 5px;
	border: 1px solid var(--icon-color);
}
.ul-flag li:hover .wrapper-flag {
	display: block;
}
.ul-flag li {
	position: relative;
}
.wrapper-flag {
	width: 91px;
	left: -12px;
	border-radius: 5px;
	top: 26px;

	background-color: var(--flag-background-color);
	position: absolute;
	display: none;
}
/* end top menu responsive  */

/* start responsive menu show with btn */

.parenet-res-menu-with-btn {
	display: none;
	position: absolute;
	left: 0px;
	width: 60%;
	margin-top: 20px;
	z-index: 999;
}

.nav-res-menu-btn {
	background: gray;
}

.ul-res-menu-btn {
	background-color: var(--cmenu-bg);

	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.toggel {
	color: var(--color-toggel);
	padding: 15px;
	margin-right: 15px;
	font-size: 0.9rem;
	font-weight: bold;
}

.toggel a {
	color: var(--color-toggel);
}

.ul-wrapper-toggel {
	display: none;
	width: 100%;
	background-color: var(--bg-zire-menu);
}
.ul-wrapper-toggel li {
	border-bottom: 1px solid #eff0f1;

	width: 100%;
	padding: 10px;

	font-size: 0.9rem;
}

.ul-wrapper-toggel li a {
	color: var(--color-li-zirmenu);
}
.activeResMenu {
	display: block;
}

.showToggel {
	display: block;
}

.showIconClose .fa-bars::before {
	content: '\f00d';
}
/* end responsive menu show with btn */

/********************************** END RESPONSIVE MENU */

/* ************************** START  MAIN MENU  */
.ul-main-menu li i {
	font-size: 11px;
}
.nav-main-menu {
	flex-basis: 100%;
	display: flex;

	background-color: var(--bg-main-menu);
}
.ul-main-menu {
	width: 100%;
	padding: 12px;
	display: flex;
	justify-content: flex-start;
	height: fit-content;
}
.ul-main-menu > li {
	
	margin-right: 50px;
}
.ul-main-menu li a {
	color: var(--main-menu-li);
}

.nav-icon-main {
	display: flex;
	flex-basis: 10%;
}
.ul-icon-main {
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--bg-main-menu);

	display: flex;
}
.ul-icon-main li {
	padding: 15px;
}
.ul-icon-main li a {
	color: var(--main-menu-li);
}
.ul-icon-main li {
	position: relative;
}
.wrapper-user-icon {
	left: 0px;

	z-index: 99;

	position: absolute;
	display: none;
}

.wrapper-user-icon li i {
	color: var(--icon-color);
}
.ul-icon-main li:hover a {
	color: white;
}
.ul-icon-main li:hover .wrapper-user-icon {
	display: block;
}

.ul-main-menu li a:hover,
.ul-main-menu li:hover {
	color: white;
}

.ul-main-menu li:hover .wrapper-main-menu {
	display: block;
}
.wrapper-main-menu {
	width: 290px;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	top: 43px;
	background-color: var(--bg-zire-menu);
	display: none;
}
.wrapper-main-menu li {
	padding: 9px;
	border-bottom: 1px solid var(--wrapper-main-menu-li-border);
}
.wrapper-main-menu li a {
	font-size: 0.9rem;
	color: var(--li-wrapper-main-menu);
}

/****************************  END MAIN MENU











/**************************************** START SWIPER SECTION */

.swiper {
	direction: rtl;
	width: 100%;
	height: 100%;
}

.parenet-swiper-btn {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 40%;
	transform: translate(0px, 50px);
}

.parenet-swiper-btn a {
	transform: translate(200px, 0px);
	font-weight: bold;
	font-size: 0.9rem;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--bg-btn-darkhast);
}

.social-media-swiper {
	position: absolute;
	color: white;
}
.social-media-swiper {
	bottom: 0px;
	display: flex;
	width: 100%;
}

.social-media-swiper ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media-swiper ul li {
	color: white;
	padding: 0px 15px 0px 15px;
}

.social-media-swiper ul li i {
	color: white;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-swiper_and_btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.wrapper-btn-darkhast {
	width: 100%;
	display: flex;

	justify-content: center;
	margin-top: 20px;
}

.praent-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 8px;
	font-size: 0.8rem;
	font-weight: bold;
	transform: translateX(-2px);
	letter-spacing: 2px;
	background-color: var(--bg-btn-darkhast);
}

.praent-btn a {
	width: 100%;
	height: 100%;
}

/**************************************** END SWIPER SECTION */

/****************************************** START PARENT-TEXT_AND_SOCIALMEDIA */

.parent-text_and_socialMedia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.parent-text_and_socialMedia > div > p {
	font-weight: bold;
	letter-spacing: 5px;
}
.parent-text_and_socialMedia > nav {
	width: 100%;
}
.ul-social-media {
	display: flex;
	justify-content: center;
}
.ul-social-media li {
	padding: 0px 12px 0px 12px;
}

.ul-main-menu {
	display: flex;
}

/****************************************** END PARENT-TEXT_AND_SOCIALMEDIA */

/******************************************* START KHADAMAT PAGE */

.khadamat-main-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}
.khadamat-img-section {
	width: 100%;
}
.khadamat-img-section img {
	width: 100%;
}
.khadamat-main-section {
	width: 100%;
	display: flex;
	justify-content: center;
}
.khadamat-main-section div h4 {
	color: #828282;
}
.khadamat-main-section article {
	text-align: justify;
}

.showwrapperkhadamat {
	display: block;
}
.khadamat-article-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.khadamat-parent-article {
	flex-direction: column;
}
.khadamat-parent-article div {
	padding-top: 20px;
}
.khadamat-parent-article div h4 {
	padding-bottom: 30px;
}
.khadamat-form-search-box {
	display: flex;
	width: 100%;
}
.khadamat-form-search-box input {
	width: 80%;
}

.khadamat-box-search {
	width: 20%;
	background-color: #d1a041;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.khadamat-box-search div {
	justify-content: space-between;
}
.khadamat-box-search i {
	color: white;
}
.khadamat-parent-box-left {
	margin-top: 50px;
}
.khadamat-wrapper {
	color: #757575;
	background-color: #c4c4c4;
	display: none;
}
.showwrapperkhadamat {
	display: block;
}
.khadamat-wrapper li {
	border: solid 1px;
	width: 100%;
	padding: 5px;
}
.khadamat-toggle {
	color: black;
	border-width: 30px;
	padding: 10px;
	cursor: pointer;
}

.khadamat-form-search-box input {
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	border: none;
}

.khadamat-box-left {
	display: flex;
	flex-direction: column;
	background-color: #eff0f1;
	position: sticky;
	top: 60px;
	border-radius: 5px;
}

/***********************************************END KHADAMAT PAGE */

/*********************************************** START DAVAT BE HAMKARI */

.section-one-davat figure img {
	width: 100%;
}

.section-boxes-davat {
	display: grid;
	grid-template-columns: repeat(auto-fit, 50%);
	justify-items: center;
	background-image: url(imgs/LW002[1].png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;
}
.box-davat-page {
	box-shadow: 1px 0px 7px 2px var(--c828282);
	background-color: #fff;
	width: fit-content;
	display: flex;

	padding-right: 15px;
	margin: 15px;
	border-radius: 5px;
	flex-direction: column;
}
.box-davat-page figure {
	background-color: var(--cD1A041);
	border-radius: 50%;
	width: 90%;
	height: 75px;
	padding: 17px;
	transform: translate(8px, 3px);
}
.box-davat-page figure img {
	transform: translate(5px, -6px);
}

.text-box-davat {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px;
	margin-left: 20px;
	font-weight: bold;
	margin: 5px -9px 6px -1px;
}
/*********************************************** END DAVAT BE HAMKARI */

/************************************** START SABAD KHARID */

.sabd-kharid-section-box {
	display: flex;
	flex-direction: column;
}

.sabd-kharid-section-box figure {
	width: fit-content;
	padding: 15px;
}

.title-sabadkharid {
	width: 100%;
}

.box-one-sabadkharid {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px 6px 6px 15px;
	background: #ffff;
	height: fit-content;
	margin: auto 30px;
	box-shadow: 1px 2px 10px 2px #828282;
}

.parent-box-left-sabadkharid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.parent-box-left-sabadkharid figure {
	padding: 0px;
	margin: 15px;
	position: relative;
}
.parent-box-left-sabadkharid figure figcaption {
	position: absolute;
	bottom: 40px;
	background-color: #4fc2f775;
	width: 269px;
	text-align: center;
	padding: 15px;
	margin-right: 0px;
	color: #fff;
}

.row-one-sabad-kharid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.row-one-sabad-kharid figure img {
	width: 150px;
}
.nav-icon-sabadkharid {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-top: 20px;
}
.ul-icon-sabad-kharid {
	display: flex;
	justify-content: flex-end;
	border: 3px solid var(--cD1A041);
	border-radius: 0px 15px 15px 15px;
	min-width: 150px;
}
.ul-icon-sabad-kharid li {
	font-size: 18px;
	font-weight: bold;

	color: var(--cD1A041);
}
.box-one-sabadkharid figure a img {
	padding: 15px;
}
.box-one-sabadkharid div {
	width: 100%;
}
.box-one-sabadkharid div p {
	font-weight: bold;
	color: var(--c828282);
}
.sabd-kharid-section-box form {
	width: 100%;
	display: none;
	justify-content: center;
}
.btn-sabadkharid {
	padding: 15px;
	margin: 20px 15px;
	width: 240px;
	outline: none;
	border-radius: 5px;
	border: none;
	color: white;
	font-weight: bold;
	background-color: var(--cD1A041);
}

.title-sabadkharid {
	margin: 15px;
	color: var(--c828282);
	font-weight: bold;
}

.parent-box-left-sabadkharid {
	padding: 0px 15px;
	margin: 0px 10px;
}

.btn-sabad-kharid-tablet {
	display: none;
}

.ul-icon-sabad-kharid li i {
	color: var(--cD1A041);
}

/************************************** END SABAD KHARID */

/********************************* START USING FOR ALL PAGES  */

/* start breadcrumb */
.parent-breadcrumb-section {
	display: flex;
	justify-content: center;
	padding: 15px;
}
.breadcrumb-section {
	display: flex;
	max-width: 900px;
	width: 100%;
	background: var(--bg-top-box-allpage);
	border: 1px solid var(--bdr-top-box-allpage);
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px #e5e5e5;
	font-weight: bold;
}
.breadcrumb-section #breadcrumbs {
	display: flex;
	padding: 10px;
	color: #828282;
}

#breadcrumbs li a {
	color: var(--c828282);
	text-decoration: none;
}
#breadcrumbs li a:hover {
	border-bottom: 1px solid #828282;
}

#breadcrumbs li + li:before {
	padding: 8px;
	content: '/\00a0';
	color: #828282;
}

/* end  breadcrumb */

/* start article-pages-a */

.article-pages-a {
	padding: 10px;
}

.tilte-pages-a {
	padding: 15px;
	color: var(--c828282);
}

.article-pages-a p {
	font-weight: bold;
	line-height: 2.1rem;
	color: var(--c828282);
}

/* end article-pages-a */

/********************************* END USING FOR ALL PAGES  */

/*********************************start davatbehamkari-sabtenam */

.fa-link{
	color: var(--cD1A041);
}

.parent-article-breadcrumb-section{
	padding: 9px;
}

/*********************************end davatbehamkari-sabtenam */

/*********************************start news page */
.parent-box-news{
	display: flex;
	flex-direction: column;
	box-shadow: 6px 3px 14px 4px rgba(0,0,0,0.38);
	border-radius: 5px 5px 5px 18px;
	margin: 10px;
}
.parent-btn-more-news{
	display: flex;
	justify-content: flex-end;
	
}
.btn-more-news{
	background-color: var(--cD1A041);
	padding: 10px;
	width: 160px;
	border-radius: 5px 5px 5px 18px;	
}
.btn-more-news a{
	color: white;
}
.btn-more-news:hover{
	background-color:white;
	
}
 .btn-more-news a:hover{
	color: var(--cD1A041);
} 
.text-news h5{
    margin-bottom: 30px;
}
.text-news{
	padding: 20px;
	
}
.text-news a{
	transition: 0.5s;

}
.text-news a:hover{
	font-size: 18px;

}


/*********************************end news page */

/************************************************ START FOOTER  */

footer {
	color: #fff;
	margin-top: 50px;
	background-color: var(--bg-footer);
	display: grid;
	grid-template-columns: repeat(auto-fit, 100%);
}

footer a {
	font-weight: bold;
	color: #fff;
}
.row-one-footer {
	height: fit-content;
}

.nav-row-three-footer {
	padding: 0px;
	width: 100%;
}
.nav-row-four-footer {
	width: 100%;
	padding: 0px;
}
.title-footer {
	margin: 15px;
}
.parent-phone-icon-text-footer {
	margin-top: 5px;
}

.text-one p {
	padding: 15px;
	font-weight: bold;
}

.parent-phone p {
	font-weight: bold;
	margin-right: 20px;
}
.parent-phone p:nth-of-type(2) {
	margin-right: 45px;
}

.btn-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px 0px 20px;
}
.btn-footer a {
	background-color: var(--bg-btn);
	padding: 5px;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	font-size: 0.7rem;
	font-weight: bold;
	width: 200px;
	text-align: center;
}

.nav-row-three-footer ul li {
	margin: 18px 25px;
}

.nav-row-four-footer ul li {
	margin: 18px 25px;
}
.social-media-footer {
	margin-top: 30px;
}
.social-media-footer ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.row-one-footer article p {
	padding-right: 15px;
}

/********************************* END FOOTER  */

/********************************************** RESPONSIVE SCOPE */
/* mobile */
@media screen and (max-width: 576px) {
	.social-media-swiper {
		display: none;
	}
	.sabd-kharid-section-box form {
		display: flex;
	}
	.box-one-sabadkharid div {
		text-align: center;
	}
	.box-one-sabadkharid div p {
		margin-top: 20px;
	}

	.nav-icon-sabadkharid ul li {
		padding: 15px;
	}
	.nav-icon-main {
		display: none;
	}
	.parenet-swiper-btn {
		display: none;
	}
	.social-media-swiper {
		display: none;
	}
	.nav-main-menu {
		display: none;
	}

	.box-davat-page figure {
		transform: translate(5px, 3px);
	}
}

/* other */
@media screen and (min-width: 577px) {
	body {
		background-color: green;
	}
	.sabd-kharid-section-box form {
		display: flex;
	}
	.box-one-sabadkharid div {
		text-align: center;
		margin-top: 20px;
	}
	.nav-icon-sabadkharid ul {
		padding: 15px;
	}
	.nav-icon-sabadkharid ul li {
		margin-left: 15px;
	}
	.left-nav-responsive-menu {
		display: flex;
	}
	.nav-main-menu {
		display: none;
	}
	.parenet-swiper-btn {
		display: none;
	}

	.social-media-swiper {
		display: none;
	}
	.nav-main-menu {
		display: none;
	}

	.nav-icon-main {
		display: none;
	}
	.box-one-sabadkharid {
		margin: auto 130px;
	}
}

/* tablet */
@media screen and (min-width: 768px) {
	body {
		background-color: pink;
	}
	.title-sabadkharid {
		text-align: center;
	}
	.ul-main-menu > li {
		margin-right: 9px;
	}
	.sabd-kharid-section-box form {
		display: none;
	}
	footer {
		grid-template-columns: repeat(4, 25%);
	}
	.parent-box-left-sabadkharid figure figcaption {
		width: 100%;
	}
	.box-one-sabadkharid {
		margin: 0px 0px;
		box-shadow: none;
		transform: translate(-15px, 65px);
	}
	.ul-icon-sabad-kharid li {
		margin-left: 15px;
	}
	.row-one-sabad-kharid {
		flex-direction: row;
	}
	.box-one-sabadkharid div p {
		text-align: right;
		font-size: 0.8rem;
		margin-right: 20px;
	}
	.box-one-sabadkharid figure img {
		margin-right: 15px;
	}

	.sabd-kharid-section-box {
		flex-direction: row;
	}
	.btn-sabad-kharid-tablet {
		display: flex;
		justify-content: center;
	}

	.btn-sabad-for-mob {
		display: none;
	}

	.box-davat-pag {
		width: 84%;
	}
	.box-davat-page figure img {
		transform: translate(7px, -8px);
	}
	.box-davat-page figure {
		transform: translate(0px, 5px);
		width: 84%;
	}

	.section-boxes-davat {
		background-size: contain;
		background-repeat: repeat;
		grid-template-columns: repeat(auto-fit, 25%);
	}

	.btn-footer {
		margin-right: -20px;
	}
	.parent-phone-icon-text-footer {
		grid-column: 4;
		grid-row: 1;
	}

	.nav-row-three-footer {
		padding-right: 25px;
		height: fit-content;
		grid-column: 2;
		grid-row: 1;
	}

	.social-media-footer {
		grid-column: 4;
		transform: translate(0px, -30px);
	}
	.parent-phone-icon-text-footer p {
		font-size: 0.8rem;
	}

	.title-footer {
		font-size: 0.8rem;
	}
	.row-one-footer article p {
		font-size: 0.8rem;
	}
	.nav-row-three-footer ul li {
		margin: 0px;
		padding: 6px;
		height: fit-content;
		font-size: 0.8rem;
	}

	.nav-row-four-footer ul li {
		margin: 0px;
		margin-top: 4px;
		width: 100%;
		font-size: 0.8rem;
		height: fit-content;
		padding-top: 15px;
	}

	.nav-row-four-footer ul li {
		font-size: 0.8rem;
	}

	.social-media-footer ul li a {
		font-size: 0.8rem;
	}

	.nav-main-menu {
		display: flex;
	}

	.khadamat-toggle {
		color: #828282;
		border-width: 30px;
		padding: 10px;
	}

	.khadamat-wrapper {
		color: #757575;
		background-color: #c4c4c4;
	}
	.khadamat-searchbox-nav {
		width: 100%;
	}
	.khadamat-wrapper li {
		border: solid 1px;
		width: 100%;
	}
	.khadamat-wrapper ul {
		width: 100%;
		display: flex;
	}
	.khadamat-parent-article {
		width: 60%;
	}
	.khadamat-parent-box-left {
		width: 35%;
	}
	.khadamat-article-nav {
		flex-direction: row;
		justify-content: space-between;
	}

	.social-media-swiper {
		display: flex;
	}
	.parenet-swiper-btn {
		display: flex;
	}
	.wrapper-btn-darkhast {
		display: block;
	}
	.wrapper-btn-darkhast {
		display: none;
	}

	.parent-text_and_socialMedia {
		display: none;
	}
	.left-nav-responsive-menu {
		display: none;
	}
	.nav-flag {
		display: none;
	}
	.nav-icon-main {
		display: flex;
	}

}

/* desktop */
@media screen and (min-width: 900px) {
	body {
		background-color: gray;
	}
	.ul-main-menu > li {
		margin-right: 30px;
	}
	.btn-footer a {
		font-size: 1rem;
	}
	.left-nav-responsive-menu {
		display: none;
	}
	.nav-main-menu {
		display: flex;
	}
	.nav-flag {
		transform: translate(0px, 15px);
	}
	.title-footer {
		font-size: 1rem;
	}
	.row-one-footer article p {
		font-size: 1rem;
	}
	.nav-row-three-footer ul li {
		font-size: 1rem;
	}
	.nav-row-four-footer ul li {
		font-size: 1rem;
	}
	.parent-phone-icon-text-footer p {
		font-size: 1rem;
	}
	.social-media-footer ul li a {
		font-size: 1rem;
	}

}

/* laptop */
@media screen and (min-width: 1024px) {
	body {
		background-color: skyblue;
	}

	.ul-main-menu > li {
		margin-right: 50px;
	}
	
}
