/************************************* Start Global Style */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: iranL;
	direction: rtl;
}

body {
	font-family: iranL;
	direction: rtl;
}

@font-face {
	font-family: iranL;
	src: url(Fonts/IRANSansWeb_Light.ttf);
}

a {
	text-decoration: none;
	color: black;
}

ul,
li {
	list-style: none;
}

:root {
	--icon-color: #828282;
	--flag-background-color: #d8d8d8a9;
	--cmenu-bg: #eff0f1;
	--bg-zire-menu: #828282;
	--bg-main-menu: #c4c4c4;
	--wrapper-main-menu-li-border: #c4c4c4;
	--bg-btn-darkhast: #d1a040;
	--bg-btn: #d1a040;
	--color-toggel: #828282;
	--color-li-zirmenu: #080808;
	--li-wrapper-main-menu: #eff0f1;
	--main-menu-li: #757575;
}

/************************************* END GLOBAL STYLE */
/************************************* START RESPONSIVE MENU */

/* start top menu responsive  */
.parent-responsive-menu {
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
}

.nav-flag {
	display: flex;
	flex-basis: 90px;
	border-radius: 5px;
}
.nav-flag-main-menu {
	width: 90px;
	border-radius: 5px;
}
.ul-flag {
	width: 100%;
}
.ul-flag-main-menu li {
	position: relative;
}
.wrapper-flag-main-menu {
	position: absolute;
	display: none;
	left: -12px;
	top: 26px;
	width: 91px;
	border-radius: 5px;
	background-color: var(--flag-background-color);
}

.ul-flag-main-menu li:hover .wrapper-flag-main-menu {
	display: block;
}
.ul-flag,
.ul-flag-main-menu {
	background-color: var(--flag-background-color);
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	cursor: pointer;
}
.ul-flag li img,
.ul-flag-main-menu li img {
	width: 30px;
	transform: translate(-5px, 3px);
}
.left-nav-responsive-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-basis: 40%;
}
.left-ul-responsive-menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
}
.left-ul-responsive-menu li i {
	color: var(--icon-color);
}
.left-ul-responsive-menu button {
	width: 30px;
	outline: none;
	border-radius: 5px;
	border: 1px solid var(--icon-color);
}
.ul-flag li:hover .wrapper-flag {
	display: block;
}
.ul-flag li {
	position: relative;
}
.wrapper-flag {
	width: 91px;
	left: -12px;
	border-radius: 5px;
	top: 26px;

	background-color: var(--flag-background-color);
	position: absolute;
	display: none;
}
/* end top menu responsive  */

/* start responsive menu show with btn */

.parenet-res-menu-with-btn {
	display: none;
	position: absolute;
	left: 0px;
	width: 60%;
	margin-top: 20px;
	z-index: 999;
}

.nav-res-menu-btn {
	background: gray;
}

.ul-res-menu-btn {
	background-color: var(--cmenu-bg);

	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.toggel {
	color: var(--color-toggel);
	padding: 15px;
	margin-right: 15px;
	font-size: 0.9rem;
	font-weight: bold;
}

.toggel a {
	color: var(--color-toggel);
}

.ul-wrapper-toggel {
	display: none;
	width: 100%;
	background-color: var(--bg-zire-menu);
}
.ul-wrapper-toggel li {
	border-bottom: 1px solid #eff0f1;

	width: 100%;
	padding: 10px;

	font-size: 0.9rem;
}

.ul-wrapper-toggel li a {
	color: var(--color-li-zirmenu);
}
.activeResMenu {
	display: block;
}

.showToggel {
	display: block;
}

.showIconClose .fa-bars::before {
	content: '\f00d';
}
/* end responsive menu show with btn */

/********************************** END RESPONSIVE MENU */

/* ************************** START  MAIN MENU  */
.ul-main-menu li i {
	font-size: 11px;
}
.nav-main-menu {
	flex-basis: 100%;
	display: flex;

	background-color: var(--bg-main-menu);
}
.ul-main-menu {
	width: 100%;
	padding: 12px;
	display: flex;
	justify-content: space-evenly;
	height: fit-content;
}
.ul-main-menu li a {
	color: var(--main-menu-li);
}

.nav-icon-main {
	display: flex;
	flex-basis: 10%;
}
.ul-icon-main {
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--bg-main-menu);

	display: flex;
}
.ul-icon-main li {
	padding: 15px;
}
.ul-icon-main li a {
	color: var(--main-menu-li);
}
.ul-icon-main li {
	position: relative;
}
.wrapper-user-icon {
	left: 0px;

	z-index: 99;

	position: absolute;
	display: none;
}

.wrapper-user-icon li i {
	color: var(--icon-color);
}
.ul-icon-main li:hover a {
	color: white;
}
.ul-icon-main li:hover .wrapper-user-icon {
	display: block;
}

.ul-main-menu li a:hover,
.ul-main-menu li:hover {
	color: white;
}

.ul-main-menu li:hover .wrapper-main-menu {
	display: block;
}
.wrapper-main-menu {
	width: 290px;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	top: 43px;
	background-color: var(--bg-zire-menu);
	display: none;
}
.wrapper-main-menu li {
	padding: 9px;
	border-bottom: 1px solid var(--wrapper-main-menu-li-border);
}
.wrapper-main-menu li a {
	font-size: 0.9rem;
	color: var(--li-wrapper-main-menu);
}

/****************************  END MAIN MENU











/**************************************** START SWIPER SECTION */

.swiper {
	direction: rtl;
	width: 100%;
	height: 100%;
}

.parenet-swiper-btn {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 40%;
	transform: translate(0px, 50px);
}

.parenet-swiper-btn a {
	transform: translate(200px, 0px);
	font-weight: bold;
	font-size: 0.9rem;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--bg-btn-darkhast);
}

.social-media-swiper {
	position: absolute;
	color: white;
}
.social-media-swiper {
	bottom: 0px;
	display: flex;
	width: 100%;
}

.social-media-swiper ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media-swiper ul li {
	color: white;
	padding: 0px 15px 0px 15px;
}

.social-media-swiper ul li i {
	color: white;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-swiper_and_btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.wrapper-btn-darkhast {
	width: 100%;
	display: flex;

	justify-content: center;
	margin-top: 20px;
	transform: translateY(45px);
}

.praent-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 8px;
	font-size: 0.8rem;
	font-weight: bold;
	transform: translateX(-2px);
	letter-spacing: 2px;
	background-color: var(--bg-btn-darkhast);
}

.praent-btn a {
	width: 100%;
	height: 100%;
}

/**************************************** END SWIPER SECTION */

/****************************************** START PARENT-TEXT_AND_SOCIALMEDIA */

.parent-text_and_socialMedia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(101px);
}

.parent-text_and_socialMedia > div > p {
	font-weight: bold;
	letter-spacing: 5px;
}
.parent-text_and_socialMedia > nav {
	width: 100%;
}
.ul-social-media {
	display: flex;
	justify-content: center;
}
.ul-social-media li {
	padding: 0px 12px 0px 12px;
}

.ul-main-menu {
	display: flex;
}

/****************************************** END PARENT-TEXT_AND_SOCIALMEDIA */

/*START KHADAMAT PAGE */

.khadamat-main-section {
	border: solid rebeccapurple;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}
.khadamat-img-section {
	width: 100%;
}
.khadamat-img-section img {
	width: 100%;
}
.khadamat-main-section {
	width: 100%;
	display: flex;
	justify-content: center;
}
.khadamat-main-section div h4 {
	color: #828282;
}
.khadamat-main-section article {
	text-align: justify;
}
.khadamat-searchbox-nav {
}
.khadamat-wrapper {
	display: none;
}
.khadamat-box-left {
	display: none;
}

.showwrapperkhadamat {
	display: block;
}
.khadamat-article-nav {
	display: flex;
	flex-direction: row;
}
.khadamat-parent-article {
	flex-direction: column;
}
.khadamat-parent-article div {
	padding-top: 20px;
}
/*END KHADAMAT PAGE */

/********************************************** RESPONSIVE SCOPE */
/* mobile */
@media screen and (max-width: 576px) {
	.social-media-swiper {
		display: none;
	}
	.nav-icon-main {
		display: none;
	}
	.parenet-swiper-btn {
		display: none;
	}
	.social-media-swiper {
		display: none;
	}
	.nav-main-menu {
		display: none;
	}
}

/* other */
@media screen and (min-width: 577px) {
	body {
		background-color: green;
	}
	.left-nav-responsive-menu {
		display: flex;
	}
	.nav-main-menu {
		display: none;
	}
	.parenet-swiper-btn {
		display: none;
	}

	.social-media-swiper {
		display: none;
	}
	.nav-main-menu {
		display: none;
	}

	.nav-icon-main {
		display: none;
	}
}

/* tablet */
@media screen and (min-width: 768px) {
	body {
		background-color: pink;
	}
	.nav-main-menu {
		display: flex;
	}
	.khadamat-box-left {
		display: flex;
		flex-direction: column;
		background-color: #eff0f1;
		position: sticky;
		top: 20px;
	}
	.khadamat-toggle {
		color: #828282;
		border-width: 30px;
		padding: 10px;
	}

	.khadamat-wrapper {
		color: #757575;
		background-color: #c4c4c4;
	}
	.khadamat-searchbox-nav {
		width: 100%;
		border: solid red;
	}
	.khadamat-wrapper li {
		border: solid 1px;
		width: 100%;
		border: solid yellow;
	}
	.khadamat-wrapper ul {
		width: 100%;
		border: solid #0000ff;
		display: flex;
	}
	.khadamat-parent-article {
		width: 70%;
	}

	.social-media-swiper {
		display: flex;
	}
	.parenet-swiper-btn {
		display: flex;
	}
	.wrapper-btn-darkhast {
		display: block;
	}
	.wrapper-btn-darkhast {
		display: none;
	}

	.parent-text_and_socialMedia {
		display: none;
	}
	.left-nav-responsive-menu {
		display: none;
	}
	.nav-flag {
		display: none;
	}
	.nav-icon-main {
		display: flex;
	}
}

/* desktop */
@media screen and (min-width: 900px) {
	body {
		background-color: gray;
	}

	.left-nav-responsive-menu {
		display: none;
	}
	.nav-main-menu {
		display: flex;
	}
	.nav-flag {
		transform: translate(0px, 15px);
	}
}

/* laptop */
@media screen and (min-width: 1024px) {
	body {
		background-color: skyblue;
	}
}
